<div class="content-wrapper">
  <p-card class="card-auth-form">
    <span>Добро пожаловать</span>
  
    <form>
  
      <p-iftalabel>
        <input pInputText id="username" formControlName="username">
        <label for="username">Username</label>
      </p-iftalabel>
      <p-iftalabel>
        <p-password id="password" [feedback]="false" formControlName="password"></p-password>
        <label for="password">Password</label>
      </p-iftalabel>
      <div>
        <p-toggleSwitch id="remeber"/>
        <label for="remeber">Remeber me</label>
      </div>

      <p-button>Login</p-button>
    </form>
    <span>У вас нет учетной записи? <span>Зарегистрируйтесь</span></span>
  </p-card>
</div>