
.content-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
}

.card-auth-form {
    max-width: 300px;
    max-height: 500px;
    min-height: 500px;
    display: flex;
    margin: auto 0 auto 100px;
}